body {
  background: black;
}
.heading {
  text-align: center;
  color: white;
}
.margins {
  margin: auto;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 50%;
  color: white;
  text-align: center;
}
.dangerZone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
  /* padding-left: 300px; */
}
#raceContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 900px;
  border: 2px;
  border-style: dotted;
}

/* Race 1 styles */

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid #000000;
}

.image2 {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #000000;
}
.image3 {
  position: absolute;
  top: 260px;
  left: 560px;
  border: 1px solid #000000;
}
.image4 {
  position: absolute;
  top: 400px;
  left: 560px;
  border: 1px solid #000000;
}
.image5 {
  position: absolute;
  top: 540px;
  left: 560px;
  border: 1px solid #000000;
}

#horse {
  width: 100px;
  height: 100px;
  background: white;
  animation-name: slideRight;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-direction: mode;
  animation-fill-mode: forwards;
}
@keyframes slideRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(200px);
  }
  50% {
    transform: translateX(400px);
  }
  75% {
    transform: translateX(525px);
  }
  100% {
    transform: translateX(800px);
  }
}
#cheetah {
  width: 100px;
  height: 100px;
  background: teal;
  animation-name: sprintRight;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-direction: mode;
  animation-fill-mode: forwards;
}
@keyframes sprintRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(800px);
  }
}
#Mysterio {
  width: 100px;
  height: 100px;
  background: yellowgreen;
  animation-name: floatRight;
  animation-duration: 5.5s;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-direction: mode;
  animation-fill-mode: forwards;
}
@keyframes floatRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(150px);
  }
  50% {
    transform: translateX(350px);
  }
  75% {
    transform: translateX(525px);
  }
  100% {
    transform: translateX(800px);
  }
}
#Zambia {
  width: 100px;
  height: 100px;
  background: mediumslateblue;
  animation-name: continentalShiftRight;
  animation-duration: 9s;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-iteration-count: 1;
  animation-direction: mode;
  animation-fill-mode: forwards;
}
@keyframes continentalShiftRight {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(100px);
  }
  50% {
    transform: translateX(300px);
  }
  75% {
    transform: translateX(525px);
  }
  100% {
    transform: translateX(800px);
  }
}
