<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indebted</title>
</head>
<body>
  <h1>Congratulations!</h1>
  <h2>You Have Successfully Entered Into An Indentured Workforce</h2>
  <h3>Your Family Have Left You And You Have No-One Left To Call On</h3>
  <h4>The House Is Gone, THe Debt Is So Exponentially High You Can Never Help To Pay It Off</h4>
  <h5>Remember Kids, Gambling Can Lead To Serious Consequences, If You Or Someone You Know Needs Help Please Call 0800 654 658</h5>
  <p>Gambling in New Zealand is illegal unless it is authorised by or under the Gambling Act 2003. In addition to this rule there are certain forms of gambling that are specifically prohibited under the Act:</p>
  
</body>
</html>