
  <h1 class="heading">DANGERZONE</h1>

  <h2 class="heading">A story of love, loss, and doing what you need to survive.</h2>

  <p class="margins">Today marks the day you begin on a journey, you are seeking to climb out of the finnacial hole you have found youself in. The house is mortgaged through the teeth, you've been granted a second mortgage from a shady third tier lender, and this new well of funds has run dry. </p>

  <p class="margins">Your family are hungy, your martial spouse is furious, and you are on the bones of your arse - You know the way forward, you know how to fix this and win back your life, and you know what you need to do to achieve this - Horse.</p>

  <p class="margins">As you make your way downtown, to the bookies, the brisk winds of success brush your cheek, you feel good. better than you have before. Today is the day your luck changes. Rome wasn't built in a day, but your fortune can be.</p>

  <br>
  {{!-- anchor hyperlink to races page --}}
<a href="/race"><img class="dangerZone" src="/images/Danger-Zone.jpg" alt="its ame"/><p class="margins">Click to start</p></a>
