<div class="parent" id="raceContainer">
  <img class="image1" src="/images/finishLine.jpg" alt="finish line image"/>
    <img src="" alt="" class="image2" id="horse"></div>
    <img src="" alt="" class="image3" id="cheetah"></div>
    <img src="" alt="" class="image4" id="Mysterio"></div>
    <img src="" alt="" class="image5" id="Zambia"></div>
    
</div>