<div id="raceContainer">
    <div id="horse"></div>
    <div id="cheetah"></div>
    <div id="Mysterio"></div>
    <div id="Zambia"></div>
</div>

<a
<a href="/horse-racing/winScreen"><img class="next" src="/public/images/Black.png" alt="its ame"/><p class="margins">Click to continue</p></a>
<a href="/horse-racing/loseScreen"><img class="next" src="/public/images/Red.png" alt="its ame"/><p class="margins">Click to continue</p></a>