<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YOU BEAT THE ODDS!</title>
</head>
<body>
  <h1>AW HELL YEAH BABY! WE STAY WINNING!</h1>
  <H2>LOOK AT YOU GO, WE'VE WON, AGAINST THE ODDS, WE'VE ACHEIEVED FINANCIAL FREEDOM!</H2>
  <p>The dusk has come and the day is done, after a range of successful bets, you have a fait coinpurse and a fatter belly. Your marital spouse begs you not to leave them, the kids are telling all their friends about how successful you are, and the neighbors are looking over the fence with envy deep in their eyes. No-one can take this from you, all you gambling has paid off.</p>

</body>
</html>